{% extends "base_tem.html" %}
{% load bootstrap5 %}
{% block content %}
    <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image">
    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3" style="max-width: 900px;">
            <h5 class="text-white text-uppercase animated bounceInDown">Best Security Services</h5>
            <h1 class="display-1 text-white mb-md-4 animated zoomIn">Safe & Secure Home For Your Family</h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Image Upload</a>
            <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Image Shoot</a>
        </div>
    </div>
{% endblock %}