{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
{% comment %} Main {% endcomment %}
<div class="container-fluid p-0 mb-5 mt-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="/static/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3">
                        <h5 class="text-white text-uppercase animated bounceInDown">Traffic Law Violation Detection Services</h5>
                        <h3 class="display-1 text-white mb-md-4 animated zoomIn">Ferret Out</h3>
                        <h3 class="display-1 text-white mb-md-4 animated zoomIn">The Traffic Violation</h3>
                        {% if user.is_authenticated %}
                            {% for group in user.groups.all %}
                                {% if group.name == 'admin' %}
                                    <a href="{% url "image:image_list" %}" class="btn btn-warning py-md-3 px-md-5 animated slideInRight">Result List</a>
                                {% else %}
                                    <a href="{% url "image:upload_image" %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Image Upload</a>
                                    <a href="{% url "image:capture" %}" class="btn btn-secondary py-md-3 px-md-5 me-3 animated slideInRight">Image Shoot</a>
                                    <a href="{% url "image:image_list" %}" class="btn btn-warning py-md-3 px-md-5 me-3 animated slideInRight">Image List</a>
                                {% endif %}
                            {% endfor %}
                            {% if user.is_superuser == 1 %}
                                <a href="{% url "image:upload_image" %}" class="btn btn-primary py-md-3 px-lg-5 me-3 animated slideInLeft">Image Upload</a>
                                <a href="{% url "image:capture" %}" class="btn btn-secondary py-md-3 px-lg-5 me-3 animated slideInRight">Image Shoot</a>
                                <a href="{% url "image:image_list" %}" class="btn btn-warning py-md-3 px-lg-5 me-3 animated slideInRight">Image List</a>
                                <a href="{% url "image:image_list" %}" class="btn btn-warning py-md-3 px-lg-5 animated slideInRight">Result List</a>
                            {% endif %}
                        {% else %}
                            <a href="{% url "image:upload_image" %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft" onclick="checkLogin(event)">Image Upload</a>
                            <a href="{% url "image:capture" %}" class="btn btn-secondary py-md-3 px-md-5 me-3 animated slideInRight" onclick="checkLogin(event)">Image Shoot</a>
                            <a href="{% url "image:image_list" %}" class="btn btn-warning py-md-3 px-md-5 animated slideInRight" onclick="checkLogin(event)">Image List</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} How To {% endcomment %}
<div class="container-fluid wow fadeInUp" data-wow-delay="0.1s" style="margin-bottom: 3rem;" data-bs-spy="scroll" data-bs-target="#navbar-scroll">
    <div class="row gx-5" >
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.3s" src="/static/img/example_1.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="mb-4">
                <h5 class="text-primary text-uppercase" style="letter-spacing: 5px; color: black;" id="scrollspyHeading2">How To</h5>
            </div>
            <h5 class="text-body fw-bold  mb-4">촬영시 주의사항
            </h5>
            <p class="mb-2 fs-5" style='color: black;'>위반을 하고 있는 오토바이 및 차량을 화면의 중앙에 놓고 적정거리를 유지해 촬영해주셔야 보다 정확한 결과가 나옵니다.</p>
            <p class="mb-5 fs-6" style='color: black;'>If you don't keep the motorcycle or vehicle in the middle of the screen and take a picture at an appropriate distance, you won't get more accurate results.</p>
            <p class="mb-2 fs-5" style='color: black;'><span class="fw-bold">Image Upload</span>를 통해 촬영한 사진의 업로드가 가능하며, <span class="fw-bold">Image Shoot</span>을 통해 현재 상황을 즉시 촬영하실 수 있습니다.</p>
            <p class="mb-5 fs-6" style='color: black;'>You can upload photos taken through <span class="fw-bold">Image Upload</span>, and you can take pictures of the current situation immediately through<span class="fw-bold">Image Shoot</span>.</p>
            <p class="mb-2 fs-5" style='color: black;'>업로드한 이미지의 결과는 <span class='fw-bold'>Image List</span>을 통해 확인하실 수 있습니다.</p>
            <p class="mb-5 fs-6" style='color: black;'>The results of the uploaded images can be found on the <span class='fw-bold'>Image List</span>.</p>
            
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}