{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}

<style>
    .uploaded-image {
        max-width: 600px;
        height: auto;
        display: block;
        margin: 10px auto;
    }

    .image_info {
        border-radius: 7px;
        margin: 0 auto;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .image_info_text {
        text-align: left;
        margin: 0 auto;
        padding: 10px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>

<br>
<div class="container text-center" >
    <h1>신고 이미지 상세보기</h1>
    <div class="btn_container">
        <button>이전 이미지</button>
        <button>
            <a href="{% url 'image:image_list' %}">목록보기</a>
        </button>
        <button>다음 이미지</button>
    </div>
    <div class='uploaded-image col-lg-6 col-md-12 col-12' >
        {% if user.groups.all.0.name != 'reporter' %}
            <img src="/media/inferenced_image/{{image_contents.image}}" alt="{{ image_contents.upload_user }}" width='100%'>
        {% else %}    
            <img src="/media/{{image_contents.image}}" alt="{{ image_contents.upload_user }}" width='100%'>
        {% endif %}
    </div>
    <div class="image_info card col-lg-6 col-md-12 col-12">
        <div class="image_info_text">
            {% if image_contents.check_status != 1 %}
                <div class="user_info">
                    업로드 유저: {{ image_contents.upload_user }}
                    <br>
                    업로드 날짜: {{ image_contents.create_at }}
                    <br>
                    기타 사항: {{ image_contents.uploader_comment }}
                </div>
                <br>
                예측한 위반 사항:
                {% for status in violation_status %}
                <li>{{status}}</li>
                {% endfor %}
            {% endif %}
            {% comment %} <div>
                {% if image_contents.check_status != 1 %}
                    <button class="collect_detect">
                        <a href="{% url 'image:pass_image' image_contents.image_uuid%}">객체를 잘 검출 했나요?</a>
                    </button>
                {% endif %}
            </div> {% endcomment %}
            <div class="check_info">
                확인 상태:
                {% if image_contents.check_status == 0 %}
                    미확인 ❌
                    {% if user.groups.all.0.name != 'reporter' %}
                        <div class='go_checking'>
                            <span>
                                예측 결과가 정확한가요?
                            </span>
                            <button class='collect'>
                                <a href="{% url 'image:pass_image' image_contents.image_uuid %}">적합</a>
                            </button>
                            <span>
                                결과를 수정해야하나요?
                            </span>
                            <button class='check'>
                                <a href="{% url 'image:check_image' image_contents.image_uuid %}">검토</a>
                            </button>
                        </div>
                    {% endif %}
                {% elif image_contents.check_status == 1 %}
                    확인 ✅ - 예측결과 적합
                    {% if user.groups.all.0.name != 'reporter' %}
                        <div class='go_checking'>
                            <span>
                                결과를 수정해야하나요?
                            </span>
                            <button class='check'>
                                <a href="{% url 'image:check_image' image_contents.image_uuid %}">검토</a>
                            </button>
                        </div>
                    {% endif %}
                {% else %}
                    확인 ✅ - 관리자 수정
                    {% if user.groups.all.0.name != 'reporter' %}
                        <div class='go_checking'>
                            <span>
                                결과를 수정해야하나요?
                            </span>
                            <button class='check'>
                                <a href="{% url 'image:check_image' image_contents.image_uuid %}">검토</a>
                            </button>
                        </div>
                    {% endif %}
                {% endif %}
                {% if image_contents.check_user %}
                    확인자: {{ image_contents.check_user }}
                    <br>
                    확인날짜: {{ image_contents.check_date }}
                    <br>
                    확인 코멘트: {{ image_contents.check_comment }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}