{% extends "base.html" %}

{% block content %}

<br>

<div class="container">
    <div>
        <h1>Upload image list</h1>
    </div>

    <div>
        {% for image_contents in image_contents_list %}
        <div class="col">
            {% comment %} <a href="{% url "detect:image_detail" image_contents.pk %}"> {% endcomment %}
            <a href="{% url "image:image_detail" image_contents.image_uuid %}">
                <div>
                    {{image_contents.pk}}
                    {{image_contents.image_uuid}}
                    {{image_contents.image}}
                    <img src="/media/{{image_contents.image}}" alt="image" width="200" height="200">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}