{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}

<style>
    .uploaded-image {
        max-width: 600px;
        height: auto;
        display: block;
        margin: 10px auto;
    }

    .image_info {
        border-radius: 7px;
        margin: 0 auto;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .image_info_text {
        text-align: left;
        margin: 0 auto;
        padding: 10px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>
<div class="container-fluid bg-primary p-5 hero-header mb-5 mt-5">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="display-1 text-white animated zoomIn">Image Detail</h1>
        </div>
    </div>
</div>
    <h2 style="margin-top : 2rem; margin-bottom: 2rem;">Image Detail</h2>
    <div class="row">
        <div class='uploaded-image col-lg-6' >
            {% if user.groups.all.0.name != 'reporter' %}
                <img src="/media/inferenced_image/{{image_contents.image}}" alt="{{ image_contents.upload_user }}" width='100%'>
            {% else %}    
                <img src="/media/{{image_contents.image}}" alt="{{ image_contents.upload_user }}" width='100%'>
            {% endif %}
        </div>
        <div class="image_info card col-lg-6">
            <div class="image_info_text">
                {% if image_contents.check_status != 1 %}
                    <div class="user_info" style="margin-bottom: 1rem;" >
                        <p>
                            업로드 유저: {{ image_contents.upload_user }}
                        </p>
                        <p>
                            업로드 날짜: {{ image_contents.create_at }}
                        </p>
                        <p>
                            기타 사항: {{ image_contents.uploader_comment }}
                        </p>
                    </div>
                {% endif %}
                <span>
                    예측한 위반 사항
                    {% for status in violation_status %}
                        <li>{{status}}</li>
                    {% endfor %}
                </span>
                <div class="check_info" style="margin-top: 1rem;">
                    확인 상태:
                    {% if image_contents.check_status == 0 %}
                        미확인 ❌
                        {% if user.groups.all.0.name != 'reporter' %}
                            <div class='go_checking' style="margin-top: 1rem;">
                                <p>
                                    예측 결과가 정확한가요?
                                    <a href="{% url 'image:pass_image' image_contents.image_uuid %}">
                                        <button class='collect btn btn-outline-dark btn-sm'>적합</button>
                                    </a>
                                </p>
                                <p>
                                    결과를 수정해야하나요?
                                    <a href="{% url 'image:check_image' image_contents.image_uuid %}">
                                        <button class='check btn btn-outline-dark btn-sm'>검토</button>
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    {% elif image_contents.check_status == 1 %}
                        확인 ✅ - 예측결과 적합
                        {% if user.groups.all.0.name != 'reporter' %}
                            <div class='go_checking' style="margin-top: 1rem;">
                                <p>
                                    결과를 수정해야하나요?
                                    <a href="{% url 'image:check_image' image_contents.image_uuid %}">
                                        <button class='check btn btn-outline-dark btn-sm'>검토</button>
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    {% else %}
                        확인 ✅ - 관리자 수정
                        {% if user.groups.all.0.name != 'reporter' %}
                            <div class='go_checking'>
                                <p>
                                    결과를 수정해야하나요?
                                    <a href="{% url 'image:check_image' image_contents.image_uuid %}">
                                        <button class='check btn btn-outline-dark btn-sm'>검토</button>
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                        <span>
                            관리자가 검토한 위반 사항
                            {% for status in check_violation_status %}
                                <li>{{status}}</li>
                            {% endfor %}
                        </span>
                    {% endif %}
                    {% if image_contents.check_user %}
                    <p>
                        확인자: {{ image_contents.check_user }}
                    </p>
                    <p>
                        확인날짜: {{ image_contents.check_date }}
                    </p>
                    <p>
                        확인 코멘트: {{ image_contents.check_comment }}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5"></div>
        <div class="btn-group col-2" style="margin-top: 2rem;">
            {% if pre_image_uuid %}
            <button class="btn btn-outline-dark" onclick="window.location.href='{% url 'image:image_detail' pre_image_uuid %}'">
                <i class="bi bi-arrow-left-circle"></i>
            </button>
            {% endif %}
            <button class="btn btn-outline-dark" onclick="window.location.href='{% url 'image:image_list' %}'">
                <i class="bi bi-card-list"></i>
            </button>
            {% if next_image_uuid %}
            <button class="btn btn-outline-dark" onclick="window.location.href='{% url 'image:image_detail' next_image_uuid %}'">
                <i class="bi bi-arrow-right-circle"></i>
            </button>
            {% endif %}
        </div>
        <div class="col-5"></div>
    </div>
{% endblock content %}