{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
<style>
    ul {
        list-style-type: none; /* Remove bullet points */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }

    .imageItem {
        display: inline-block;
        border: none; /* Remove border */
        margin: 0; /* Remove margin */
    }
</style>
<div style="margin-top: 2rem; margin-bottom: 2rem;">
    <h2>
        Upload Image list
        <button id="filterButton" data-filtered="false" Class="btn btn-outline-dark">확인 안 한 이미지</button>
    </h2>
</div>
<div style="width: 90%; margin: 0 auto;">
{% comment %} <div style="margin-bottom: 2rem;">
</div> {% endcomment %}
<div class="row g-4 d-flex justify-content-center">
    {% for image_contents in image_contents_list %}
    <div class="col-md-auto">
        <div class="imageItem" data-status="{{ image_contents.check_status}}">
            <a href="{% url "image:image_detail" image_contents.image_uuid %}">
                <div class="card">
                {% if user.groups.all.0.name != 'reporter' %}
                    <img src="/media/inferenced_image/{{image_contents.image}}" alt="image" width="200" height="200">
                {% else %}
                    <img src="/media/{{image_contents.image}}" alt="image" width="200" height="200">
                {% endif %}
                    <div class="card-body">
                        <div class="check_status">
                            {% if image_contents.check_status == 0 %}
                            미확인 ❌
                            {% elif image_contents.check_status == 1 %}
                            확인 ✅
                            {% else %}
                            보류 🤔
                            {% endif %}
                        </div>
                        <div>
                            업로드 날짜: <p>{{image_contents.create_at |date:"Y년 n월 j일 G:i" }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const filterButton = document.getElementById("filterButton");
            const imageItems = document.querySelectorAll(".imageItem");

            filterButton.addEventListener("click", function() {
                // Toggle the visibility of images based on their check_status
                const isChecked = filterButton.getAttribute("data-checked");
                const newStatus = isChecked === "true" ? "false" : "true";

                imageItems.forEach(function(item) {
                    const status = item.getAttribute("data-status");
                    if (status == 1) {
                        // not list-item. i just want to display it without list.
                        item.style.display = newStatus === "true" ? "none" : "inline-block";
                    }
                });

                filterButton.setAttribute("data-checked", newStatus);

                // Change the text of the button
                filterButton.innerHTML = newStatus === "true" ? "전체 이미지" : "확인 안 한 이미지";
            });
        });
    </script>


{% endblock content %}