<!-- Footer Start -->
<footer class="container-fluid bg-primary text-light py-4 mt-3" id="sticky-footer">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; Tracers.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">devolopers 
                    <a class="text-white border-bottom" href="#">thovy</a>
                    <a class="text-white border-bottom" href="#">Dev-nenda</a>
                    <a class="text-white border-bottom" href="#">Aphian</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->