<!-- Footer Start -->
<footer class="container-fluid bg-primary text-light py-4 mt-5" id="sticky-footer" style="margin-top: 1rem;">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">Your Site Name</a>. HaHaHa.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">Tracer <a class="text-white border-bottom" href="#">HaHaHa</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->